<a href="https://colab.research.google.com/github/HanhaodiZhang/HATE/blob/main/w_F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/intelligence-csd-auth-gr/Ethos-Hate-Speech-Dataset.git
!pip install -qq transformers

Cloning into 'Ethos-Hate-Speech-Dataset'...
remote: Enumerating objects: 93, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (79/79), done.
remote: Total 93 (delta 41), reused 52 (delta 13), pack-reused 0
Unpacking objects: 100% (93/93), done.
     |████████████████████████████████| 1.3MB 5.6MB/s
     |████████████████████████████████| 2.9MB 21.1MB/s
     |████████████████████████████████| 890kB 43.7MB/s
     |████████████████████████████████| 1.1MB 46.3MB/s
  Building wheel for sacremoses (setup.py) ... done

In [8]:
import torch
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split

In [3]:
data_path='Ethos-Hate-Speech-Dataset/ethos/ethos_data/Ethos_Dataset_Binary.csv'
df = pd.read_csv(data_path, delimiter=';')
df['id'] = range(len(df))
df.set_index('id', inplace=True)
df.head()

                                              comment  isHate
id
0           You should know women's sports are a joke     1.0
1     You look like Sloth with deeper Down’s syndrome     1.0
2   You look like Russian and speak like Indian. B...     1.0
3                Women deserve to be abused, I guess.     1.0
4   Women are made for making babies and cooking d...     1.0

In [4]:
def to_category(score):
  if score <= 0.3:
    return 'NO'
  elif score>=0.7:
    return 'YES'
  else:
    return 'MID'

df['isHate_category']=df.isHate.apply(to_category)
df.head()

                                              comment  isHate isHate_category
id
0           You should know women's sports are a joke     1.0             YES
1     You look like Sloth with deeper Down’s syndrome     1.0             YES
2   You look like Russian and speak like Indian. B...     1.0             YES
3                Women deserve to be abused, I guess.     1.0             YES
4   Women are made for making babies and cooking d...     1.0             YES

In [5]:
possible_labels=df.isHate_category.unique()
label_dict={}
for index, possible_label in enumerate(possible_labels):
  label_dict[possible_label]=index

label_dict

{'MID': 1, 'NO': 2, 'YES': 0}

In [6]:
df['label']=df.isHate_category.replace(label_dict)
df.head()

                                              comment  ...  label
id                                                     ...
0           You should know women's sports are a joke  ...      0
1     You look like Sloth with deeper Down’s syndrome  ...      0
2   You look like Russian and speak like Indian. B...  ...      0
3                Women deserve to be abused, I guess.  ...      0
4   Women are made for making babies and cooking d...  ...      0

[5 rows x 4 columns]

In [9]:
RANDOM_SEED=17

X_train,X_val,y_train,y_val = train_test_split(
  df.index.values,
  df.label.values,
  test_size=0.2,
  random_state=RANDOM_SEED,
  stratify=df.label.values
)

In [10]:
df['data_type']=['not_set']*df.shape[0]
df.head()

                                              comment  isHate  ... label  data_type
id                                                             ...
0           You should know women's sports are a joke     1.0  ...     0    not_set
1     You look like Sloth with deeper Down’s syndrome     1.0  ...     0    not_set
2   You look like Russian and speak like Indian. B...     1.0  ...     0    not_set
3                Women deserve to be abused, I guess.     1.0  ...     0    not_set
4   Women are made for making babies and cooking d...     1.0  ...     0    not_set

[5 rows x 5 columns]

In [11]:
df.loc[X_train,'data_type']='train'
# df.loc[df_val,'data_type']='val'
df.loc[X_val,'data_type']='val'

In [12]:
df.data_type.value_counts()

train    798
val      200
Name: data_type, dtype: int64

In [75]:
df.label.value_counts()

2    482
0    286
1    230
Name: label, dtype: int64

In [13]:
df.groupby(['isHate_category','label','data_type']).count()

                                 comment  isHate
isHate_category label data_type
MID             1     train          184     184
                      val             46      46
NO              2     train          385     385
                      val             97      97
YES             0     train          229     229
                      val             57      57

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [31]:
import re
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import SnowballStemmer

from nltk.stem import WordNetLemmatizer  
lemmatizer = WordNetLemmatizer()  

def clean_comment(text, stops=True, stemming=True):
  text = str(text)
  text = text.lower().split()
  text = " ".join(text)
  text = re.sub(r"what's", "what is ", text)
  text = re.sub(r"don't", "do not ", text)
  text = re.sub(r"aren't", "are not ", text)
  text = re.sub(r"isn't", "is not ", text)
  text = re.sub(r"%", " percent ", text)
  text = re.sub(r"that's", "that is ", text)
  text = re.sub(r"doesn't", "does not ", text)
  text = re.sub(r"he's", "he is ", text)
  text = re.sub(r"she's", "she is ", text)
  text = re.sub(r"it's", "it is ", text)
  text = re.sub(r"\'s", " ", text)
  text = re.sub(r"\'ve", " have ", text)
  text = re.sub(r"n't", " not ", text)
  text = re.sub(r"i'm", "i am ", text)
  text = re.sub(r"\'re", " are ", text)
  text = re.sub(r"\'d", " would ", text)
  text = re.sub(r"\'ll", " will ", text)
  text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
  text = re.sub(r",", " ", text)
  text = re.sub(r"\.", " ", text)
  text = re.sub(r"!", " ! ", text)
  text = re.sub(r"\/", " ", text)
  text = re.sub(r"\^", " ^ ", text)
  text = re.sub(r"\+", " + ", text)
  text = re.sub(r"\-", " - ", text)
  text = re.sub(r"\=", " = ", text)
  text = re.sub(r"'", " ", text)
  text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
  text = re.sub(r":", " : ", text)
  text = re.sub(r" u s ", " american ", text)
  text = re.sub(r"\0s", "0", text)
  text = re.sub(r" 9 11 ", "911", text)
  text = re.sub(r"e - mail", "email", text)
  text = re.sub(r"j k", "jk", text)
  text = re.sub(r"\s{2,}", " ", text)
  text = text.lower().split()
  text = [w for w in text if len(w) >= 2]
  if stemming:
    englishStemmer = SnowballStemmer("english")
    text = [englishStemmer.stem(w) for w in text]
  if stops:
    text = [lemmatizer.lemmatize(w) for w in text if w not in stopwords.words('english')]
  text = " ".join(text)
  return text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [24]:
clean_data=[]
for txt in df.comment:
  clean_data.append(clean_comment(txt, stops=True, stemming=True))
df.processed_comment=clean_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [29]:
df['processed_comment']=df.comment.apply(clean_comment)

In [30]:
df.head()

                                              comment  ...                                  processed_comment
id                                                     ...
0           You should know women's sports are a joke  ...              you should know women sports are joke
1     You look like Sloth with deeper Down’s syndrome  ...      you look like sloth with deeper down syndrome
2   You look like Russian and speak like Indian. B...  ...  you look like russian and speak like indian bo...
3                Women deserve to be abused, I guess.  ...                   women deserve to be abused guess
4   Women are made for making babies and cooking d...  ...  women are made for making babies and cooking d...

[5 rows x 6 columns]

In [32]:
df['processed_comment2']=df.comment.apply(clean_comment)

In [33]:
df.head()

                                              comment  ...                                 processed_comment2
id                                                     ...
0           You should know women's sports are a joke  ...                              know woman sport joke
1     You look like Sloth with deeper Down’s syndrome  ...                     look like sloth deeper syndrom
2   You look like Russian and speak like Indian. B...  ...  look like russian speak like indian disgust go...
3                Women deserve to be abused, I guess.  ...                            woman deserv abus guess
4   Women are made for making babies and cooking d...  ...           woman made make babi cook dinner noth el

[5 rows x 7 columns]

In [63]:
import collections
counts_Hate = {}
counts_Mid = {}
counts_NoHate = {}
counts={}
for row in df.itertuples():
  text = getattr(row, 'processed_comment2').split()
  for w in text:
    label=getattr(row, 'label')
    counts_Hate[w] = counts_Hate.get(w,0)
    counts_Mid[w] = counts_Mid.get(w,0)
    counts_NoHate[w] = counts_NoHate.get(w,0)
    if label==0:
      counts_Hate[w] = counts_Hate.get(w) + 1
    elif label==1:
      counts_Mid[w] = counts_Mid.get(w) + 1     
    elif label==2:
      counts_NoHate[w] = counts_NoHate.get(w) + 1
    counts[w] = counts.get(w,0) + 1

In [74]:
items = list(counts.items())
items.sort(key=lambda x:x[1],reverse=True)
print("word        hate mid nothate all".format(word,count))
for word,count in items:
  if count>10:
    print("{0:<10}{1:>5}{2:>5}{3:>7}{4:>5}".format(word,counts_Hate[word],counts_Mid[word],counts_NoHate[word],count))
    # print("{0:<10}{1:>5}".format(word,count))
    # print("{0:<10}{1:>5}".format(word,counts_Hate[word]))
    # print("{0:<10}{1:>5}".format(word,counts_Mid[word]))
    # print("{0:<10}{1:>5}".format(word,counts_NoHate[word]))

word        hate mid nothate all
peopl        51   45    109  205
like         33   46     55  134
fuck         66   26     34  126
woman        38   38     29  105
get          30   27     34   91
white        39   19     26   84
kill         36   22     11   69
black        31    9     25   65
would        19   13     33   65
becaus       19   16     29   64
one          13   13     37   63
know         14   10     36   60
look         13   13     30   56
muslim       35   12      9   56
right        21   11     23   55
want         23    9     22   54
make         15    8     30   53
go           15   13     23   51
whi          14   10     27   51
islam        33    8      8   49
love          4    8     36   48
countri      20   13     14   47
men          18   18     10   46
onli         15   12     19   46
shit         21    7     16   44
hate         17   11     16   44
think         5   15     23   43
take         19    9     13   41
kid           9    9     23   41
man          12    9     19   40
religion     15   11     14   40
gay          24    5     11   40
as           20   13      7   40
world        10   11     18   39
time         10    8     21   39
back         21   10      7   38
see          13    8     17   38
say           7    9     21   37
god          13   11     12   36
human        10    7     18   35
even         14    6     15   35
thing         9   11     15   35
girl          9    8     17   34
way          12    6     16   34
need         10    6     17   33
come          4   15     13   32
feel          6    4     22   32
let           9    8     15   32
guy           7    7     16   30
asian        11    8     11   30
stop          6   10     13   29
live         10    5     14   29
everi         8   11     10   29
u             9    6     13   28
bitch        14    8      6   28
still         5    4     19   28
good         12    5     10   27
use           3    7     17   27
child         4    8     15   27
much          4    6     16   26
mental       11    3     12   26
christian    13    8      4   25
doe           7    2     16   25
stupid       13    3      9   25
tri           6    7     12   25
male          8    9      8   25
die           7    4     13   24
well          6    9      7   22
race          9    4      9   22
talk          3    7     12   22
veri          5    3     14   22
care          4    5     12   21
chang         8    4      9   21
must         10    3      7   20
happen        6    5      9   20
europ        14    5      1   20
life          6    5      9   20
realli        3    2     15   20
video         2    2     16   20
im            4    2     13   19
year          4    3     12   19
call          6    6      7   19
matter        3    2     14   19
ani           1    5     13   19
american      7    5      6   18
believ        4    2     12   18
never         8    2      8   18
person        2    3     13   18
better        5    7      6   18
hit           2    9      7   18
disgust       9    4      4   17
abus          3    3     11   17
hope          8    4      5   17
put           3    8      6   17
send         10    3      4   17
wish          5    4      8   17
feminist     11    6      0   17
ill           7    1      9   17
racist        9    1      7   17
hell          7    6      4   17
disabl        5    3      9   17
fat          10    5      2   17
gender        1   11      5   17
beauti        3    0     14   17
day           2    3     11   16
nigger       13    3      0   16
everyon       4    6      6   16
sick          6    5      5   16
proud         2    2     12   16
support       5    4      7   16
lesbian       4    4      8   16
tell          0    4     12   16
differ        3    1     11   15
polic         6    5      4   15
problem       2    6      7   15
help          3    5      7   15
immigr        5    4      6   15
autist       10    1      4   15
fact          4    3      8   15
ugli         12    0      3   15
home          4    4      7   15
femal         7    4      4   15
equal         3    7      5   15
mean          3    5      7   15
dude          4    4      7   15
someth        2    4      9   15
ever          1    4     10   15
someon        0    3     12   15
noth         10    0      4   14
mani          3    3      8   14
anim          7    4      3   14
anyth         4    2      8   14
cancer        4    2      8   14
bad           3    3      8   14
anyon         2    3      9   14
two           3    3      8   14
deport        6    4      4   14
could         2    4      8   14
plea          5    2      7   14
indian        6    4      3   13
law           7    2      4   13
themselv      4    2      7   13
start         7    3      3   13
percent       4    2      7   13
without       1    4      8   13
america       5    3      5   13
dont          1    3      9   13
understand    6    0      7   13
also          3    2      8   13
first         3    1      9   13
actual        2    4      7   13
lgbt          3    5      5   13
sure          1    5      7   13
ask           0    3     10   13
jew           9    2      1   12
littl         3    2      7   12
cut           2    2      8   12
treat         3    3      6   12
ca            3    2      7   12
whore         9    3      0   12
alway         2    4      6   12
skin          1    5      6   12
reason        2    2      8   12
death         6    3      3   12
said          1    1     10   12
turn          5    4      3   12
sex           6    3      3   12
ladi          1    2      9   12
happi         1    0     11   12
famili        1    3      8   12
illeg         3    7      2   12
great         0    4      8   12
real          0    4      8   12
joke          4    1      6   11
made          3    1      7   11
african       6    2      3   11
give          4    1      6   11
head          5    0      6   11
keep          3    3      5   11
anoth         3    1      7   11
cant          2    4      5   11
war           3    0      8   11
creat         6    0      5   11
fight         6    0      5   11
earth         3    3      5   11
pay           5    1      5   11
watch         3    2      6   11
transgend     4    0      7   11
sorri         2    5      4   11
terrorist     1    7      3   11
money         2    5      4   11
mother        4    3      4   11
beat          5    3      3   11
respect       0    2      9   11